body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    background-color: #010165;
    

}
.door-frame{
    cursor: pointer;
   padding:10;
    margin: 0 auto;
    

    

    
    
}
.header{
    background: rgb(0,255,255);
    text-align: center;
    
}
.title-row{
    
    text-align: center;
    margin-top : 42px;
    margin-bottom : 21px;
    
    align-content: center;
    
    

}
.instructions-title{
    display: inline;
    font-size: 20;
    color:rgb(0,255,255);
}
.instructions-text{
    padding :10px;
    font-family : 'Work Sans';
    font-size : 14px;
    color :#ffffff;
    margin:0 auto;
    
    

}
.instructions-number{
    padding-right : 25px;
font-family :'Work Sans';
font-size : 36px;
color : #00ffff;
margin:0 auto;




}
.instructions-row{
    margin:0 auto;
    width:35%;
    display: inline;
    align-content: center;
    
    
    
}
.door-row{
    margin:auto;
     padding:10;
     
    
     align-content: center;
    
}
#imgs{
    margin: 0 auto;
    padding: 10;
    width:25%;
    
    align-content: center;
    
}
.start-row{
    margin :auto;
width : 220px;
height : 40px;
font-family : 'Work Sans';
background-color : #eb6536;
padding-top : 18px;
font-size :18px;
text-align :center;
color : #010165;
margin-bottom : 21px;
cursor :pointer;

}
#score{
    margin:0 auto;
    text-align: center;
    color:white;
    font-size: 20px;

}
.table{
    width:60px;
    height:50px;
    margin:0 auto;
    background-color:  rgb(0,255,255);
    text-align: center;
}
#zero{
    font-size: 30px;
    color:whitesmoke;
}
#round{
    

    font-size: 20px;
    color:white;
    margin:0 auto;
    text-align: center;
    
    margin-top:10px;
}
#table2{
    font-size: 30px;
    background-color: rgb(0,255,255);
    width:60px;
    height:50px;
    margin:0 auto;
    text-align: center;
    color:whitesmoke;

}
#footer{
    font-size: 15px;
    color:white;
}
